/* * @font-face mixin
 * * @include fontface('family', 'assets/fonts/', 'myfontname');
 * */
:root {
  --viewport-phone: 375px;
  --viewport-phablet: 560px;
  --viewport-tablet: 768px;
  --viewport-desktop: 1200px;
  --viewport-desktop-wide: 1560px;
  --space-xs: clamp(0.625rem, 0.5938rem + 0.1563vw, 0.75rem);
  --space-s: clamp(0.9375rem, 0.8906rem + 0.2344vw, 1.125rem);
  --space-m: clamp(1.25rem, 1.1875rem + 0.3125vw, 1.5rem);
  --space-l: clamp(1.625rem, 1.5313rem + 0.4688vw, 2rem);
  --space-xl: clamp(2rem, 1.9063rem + 0.4688vw, 2.375rem);
  /* One-up pairs */
  --space-xs-s: clamp(0.625rem, 0.5rem + 0.625vw, 1.125rem);
  --space-s-m: clamp(0.9375rem, 0.7969rem + 0.7031vw, 1.5rem);
  --space-m-l: clamp(1.25rem, 1.0625rem + 0.9375vw, 2rem);
  --space-l-xl: clamp(1.625rem, 1.4375rem + 0.9375vw, 2.375rem);
  /* Custom pairs */
  --space-m-xl: clamp(1.25rem, 0.9688rem + 1.4063vw, 2.375rem);
  --space-l-xl: clamp(1.625rem, 1.4375rem + 0.9375vw, 2.375rem);
  --global-gap: clamp(1rem, 6vw, 3rem);
  --global-radius: .375rem;
  --global-radius-max: 1rem;
  --mobile-breakpoint: 1000px;
  --content-max-width: var(--viewport-tablet);
  --wide-max-width: var(--viewport-desktop);
  --wide-width-size: calc((var(--wide-max-width) - var(--content-max-width)) / 2);
  --column-min: 24ch;
  --gallery-item-min: clamp(22ch, 28vw, 28.75ch);
  --gallery-item-aspect-ratio: 4/3;
  --base-font: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  --fs-200: clamp(0.8331rem, 0.8164rem + 0.0836vw, 0.9rem);
  --fs-300: clamp(0.9375rem, 0.8906rem + 0.2344vw, 1.125rem);
  --fs-400: clamp(1.055rem, 0.9672rem + 0.4391vw, 1.4063rem);
  --fs-500: clamp(1.1863rem, 1.0433rem + 0.7148vw, 1.7581rem);
  --fs-600: clamp(1.335rem, 1.1194rem + 1.0781vw, 2.1975rem);
  --fs-700: clamp(1.5019rem, 1.1906rem + 1.5563vw, 2.7469rem);
  --fs-800: clamp(1.6894rem, 1.2534rem + 2.1797vw, 3.4331rem);
  --fs-900: clamp(1.9006rem, 1.303rem + 2.9883vw, 4.2913rem);
  --clr-white: #fff;
  --clr-black: #000;
  --clr-foreground: #08100c;
  --clr-foreground-rgb: 8, 16, 12;
  --clr-background: #fcfcf7;
  --clr-background-rgb: 252, 252, 247;
  --clr-border: #858887;
  --clr-border-rgb: 133, 136, 135;
  --clr-primary: #08D182;
  --clr-primary-rgb: 8, 209, 130;
  --clr-accent: #561B5A;
  --clr-accent-rgb: 86, 27, 90;
  --clr-error: #fc5c65;
  --clr-warning: #fcbf49;
  --clr-success: #5D9C59;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  line-height: calc(1em + 0.5rem);
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  width: auto;
  margin: 0;
}

input[type=submit],
input[type=reset],
button {
  cursor: pointer;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  background: white;
  padding: 4px;
  border: 1px solid #ccc;
}
select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {
  select {
    text-indent: 0.01px;
    text-overflow: "";
  }
}
:where(body, iframe, pre, img, svg, video, canvas, select) {
  max-width: 100%;
  overflow: auto;
  word-break: break-word;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-background);
  display: block;
  min-width: 320px;
}

img {
  display: block;
  height: auto;
  margin-bottom: var(--global-gap);
  max-width: 100%;
}

a {
  color: var(--clr-primary);
}

.no-margin {
  margin: unset;
}

.is-centered {
  text-align: center;
}

figure {
  margin: 0 auto var(--global-gap);
}

figcaption {
  color: var(--clr-foreground);
  display: block;
  font-size: var(--fs-300);
  justify-content: center;
  margin-top: calc(var(--global-gap) / 2);
  width: 100%;
}

hr {
  background-color: rgba(var(--clr-foreground-rgb), 0.25);
  border: 0;
  display: block;
  height: 1px;
  margin: var(--global-gap) auto;
}
@media only screen and (width >= 768px) {
  hr {
    margin: calc(var(--global-gap) * 2) auto;
  }
}

ul {
  list-style: none;
  margin: 0 0 var(--global-gap);
  padding: 0;
}

.has-background {
  padding-top: var(--global-gap);
  padding-bottom: var(--global-gap);
}

footer {
  padding-top: var(--global-gap);
  padding-bottom: var(--global-gap);
}

.content-grid {
  display: grid;
  grid-template-columns: [full-width-start] minmax(var(--global-gap), 1fr) [wide-width-start] minmax(0, var(--wide-width-size)) [content-start] min(100% - var(--global-gap) * 2, var(--content-max-width)) [content-end] minmax(0, var(--wide-width-size)) [wide-width-end] minmax(var(--global-gap), 1fr) [full-width-end];
}

.content-grid > :not(.wide-width, .full-width),
.full-width > :not(.wide-width, .full-width) {
  grid-column: content;
}

.content-grid > .wide-width {
  grid-column: wide-width;
}

.content-grid > .full-width,
.content-grid > .carousel {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

.flow > * + * {
  margin-top: var(--global-gap, 1em);
}

.section-padding {
  padding-block: var(--global-gap);
}

.columns {
  display: grid;
  grid-gap: var(--global-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--column-min)), 1fr));
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.faq-section {
  border-bottom: 1px solid rgba(var(--clr-foreground-rgb), 0.125);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 15px;
  -webkit-text-size-adjust: none;
}
@media only screen and (width >= 768px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (width >= 1200px) {
  html {
    font-size: 20px;
  }
}

body {
  line-height: 1.6;
}

body,
button,
input,
select,
textarea {
  font-family: var(--base-font);
  letter-spacing: -0.125px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

form {
  margin: 0;
  padding: 0;
}
form fieldset {
  background-color: transparent;
  border: 0;
  margin: 0 0 var(--global-gap);
  max-width: 100%;
  padding: 0;
  width: 100%;
}
form fieldset:last-child {
  margin-bottom: 0;
}
form fieldset legend {
  margin-left: -0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
form fieldset .is-flex {
  margin-bottom: 0.25em;
}

label,
.label-text {
  align-items: center;
  cursor: pointer;
  display: block;
  font-size: var(--fs-200);
  line-height: 1.2;
  margin: 0 0 calc(var(--global-gap) / 6);
  padding: 0;
  width: 100%;
}
label > i,
.label-text > i {
  font-weight: normal;
  font-style: normal;
}

.label-text {
  margin-bottom: calc(var(--global-gap) / 4);
}

input[type=text],
input[type=search],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 1px solid var(--clr-border);
  border-radius: var(--global-radius);
  box-shadow: 0;
  color: var(--clr-foreground);
  margin: 0 0 calc(var(--global-gap) / 4);
  outline: 0;
  padding: 0.5em 0.875em;
  transition: border, box-shadow 0.2s ease-in;
  width: 100%;
}
input[type=text]:hover,
input[type=search]:hover,
input[type=email]:hover,
input[type=url]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=number]:hover,
input[type=tel]:hover,
input[type=range]:hover,
input[type=date]:hover,
input[type=month]:hover,
input[type=week]:hover,
input[type=time]:hover,
input[type=datetime]:hover,
input[type=datetime-local]:hover,
input[type=color]:hover,
textarea:hover {
  border-color: var(--clr-primary);
}
input[type=text]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  border-color: var(--clr-primary);
  box-shadow: 0 0 0 3px rgba(var(--clr-primary-rgb), 0.125);
  color: var(--color-foreground);
}

select {
  border: 1px solid var(--color-border);
}

textarea {
  resize: vertical;
  width: 100%;
}

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  margin: 0 1em 0 0;
  width: auto;
}

button,
.button,
input[type=submit],
input[type=reset],
input[type=button] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--clr-primary);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.4em;
  color: var(--clr-background);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 1.2;
  margin-right: auto;
  padding: 0.75em 1.25em 0.875em;
  text-decoration: none;
  transition: background-color 0.2s ease-in;
  width: auto;
}
button:hover,
.button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
  background-color: rgba(var(--clr-primary-rgb), 0.9);
}
button.is-accent,
.button.is-accent,
input[type=submit].is-accent,
input[type=reset].is-accent,
input[type=button].is-accent {
  background-color: var(--clr-accent);
}
button.is-accent:hover,
.button.is-accent:hover,
input[type=submit].is-accent:hover,
input[type=reset].is-accent:hover,
input[type=button].is-accent:hover {
  background-color: rgba(var(--clr-accent-rgb), 0.9);
}
button.is-text,
.button.is-text,
input[type=submit].is-text,
input[type=reset].is-text,
input[type=button].is-text {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary);
  display: inline-block;
  margin: 0 auto;
}
button.is-text:hover,
.button.is-text:hover,
input[type=submit].is-text:hover,
input[type=reset].is-text:hover,
input[type=button].is-text:hover {
  background: transparent;
  color: rgba(var(--clr-primary-rgb), 0.9);
}
button.is-text.is-accent,
.button.is-text.is-accent,
input[type=submit].is-text.is-accent,
input[type=reset].is-text.is-accent,
input[type=button].is-text.is-accent {
  color: var(--clr-accent);
}
button.is-text.is-accent:hover,
.button.is-text.is-accent:hover,
input[type=submit].is-text.is-accent:hover,
input[type=reset].is-text.is-accent:hover,
input[type=button].is-text.is-accent:hover {
  color: rgba(var(--clr-accent-rgb), 0.9);
}
button:disabled,
.button:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled,
input[type=button]:disabled {
  background-color: var(--clr-border);
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(var(--clr-foreground-rgb), 0.6);
  cursor: not-allowed;
}
button.is-outline,
.button.is-outline,
input[type=submit].is-outline,
input[type=reset].is-outline,
input[type=button].is-outline {
  background-color: transparent;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}
button.is-outline:hover,
.button.is-outline:hover,
input[type=submit].is-outline:hover,
input[type=reset].is-outline:hover,
input[type=button].is-outline:hover {
  background-color: rgba(var(--clr-primary-rgb), 0.2);
}
button.is-outline.is-accent,
.button.is-outline.is-accent,
input[type=submit].is-outline.is-accent,
input[type=reset].is-outline.is-accent,
input[type=button].is-outline.is-accent {
  border-color: var(--clr-accent);
  color: var(--clr-accent);
}
button.is-outline.is-accent:hover,
.button.is-outline.is-accent:hover,
input[type=submit].is-outline.is-accent:hover,
input[type=reset].is-outline.is-accent:hover,
input[type=button].is-outline.is-accent:hover {
  background-color: rgba(var(--clr-accent-rgb), 0.2);
}

.brand {
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */