---
import "../styles/sections/_frontpage.sass";
import "../styles/sections/kita-selections.sass";
import MainLayout from "../layout/base-layout.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<MainLayout title="Nobiwerk Cleaning Products">
  <main class="kita-selection">
    <h1>{t("home.headline")}</h1>
    <h2>Choose a Kita</h2>
    <div class="button-container">
      <div class="button-group">
        <a href="/productsPage?kita=Kita%20Mucklabo" class="kita-btn red"
          >Kita Mucklabo</a
        >
        <a href="/productsPage?kita=Kita%20Lillebror" class="kita-btn orange"
          >Kita Lillebror</a
        >
      </div>
      <div class="button-group">
        <a href="/productsPage?kita=Kita%20Tommelise" class="kita-btn yellow"
          >Kita Tommelise</a
        >
        <a href="/productsPage?kita=Kita%20Hucky%20Bucky" class="kita-btn green"
          >Kita Hucky Bucky</a
        >
      </div>
    </div>
  </main>
</MainLayout>
