---
import "../styles/sections/_frontpage.sass";
import "../styles/sections/kita-selections.sass";
import MainLayout from "../layout/base-layout.astro";
import CleaningProductsForm from "../components/cleaningProducts.astro";
import CleaningProducts from "../components/cleaningProducts.astro";
---

<MainLayout title="Astro Starter Kit">
  <main class="flow content-grid">
    <h1>welcome</h1>
    <div class="button-container">
      <a href="/productspage" class="kita-btn red">Kita Mucklabo</a>
      <a href="/productsPage" class="kita-btn orange">Kita Lillebror</a>
      <a href="/productsPage" class="kita-btn yellow">Kita Tommelise</a>
      <a href="/productsPage" class="kita-btn green">Kita Hucky Bucky</a>
    </div>
    <button>
      <a href="/productsPage" style="all: unset; cursor: pointer;"
        >Go to Products Page</a
      >
    </button>
  </main>
</MainLayout>
