---
import "../styles/sections/_frontpage.sass";
import MainLayout from "../layout/base-layout.astro";
import CleaningProductsForm from "../components/cleaningProducts.astro";
import CleaningProducts from "../components/cleaningProducts.astro";
---

<MainLayout title="Astro Starter Kit">
  <main class="flow content-grid">
    <CleaningProducts />
  </main>
</MainLayout>
