---
import '../styles/components/_faq.sass'

interface Props {
  title: string;
}

const {title="FAQ title"} = Astro.props;

/*
 * wrap faq's in div/section with the following parameter:
 * itemscope="" itemtype="https://schema.org/FAQPage"
 */
---

<details>
  <summary itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">{title}</summary>

  <div class="faq-inner" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
    <slot/>
  </div>
</details>

<script></script>

