---
import '../styles/components/_media-text.sass'

interface Props {
  align?: string;
  image: string;
  imageAlt?: string;
  fitImage?: string;
  slimText?: string;
}

const {align, image, imageAlt="", fitImage="", slimText=""} = Astro.props;
---

<div class="media-text" class:list={[
  {'align-left': align === 'left'},
  {'align-right': align === 'right'},
  {'fill-image': fitImage === 'true'},
  {'content-width': slimText === 'true'},
]}>
  <picture class="media-image" style={fitImage === 'true' ? `background-image:url(${image})` : ''}>
    <img src={image} alt={imageAlt} loading="lazy" />
  </picture>

  <div class="media-content">
    <slot />
  </div>
</div>
